<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--<ion-list>  Doesn't work to fix content issue
      <ion-item *ngFor="let movie of movies">
        <ion-label>{{movie.Title}}</ion-label>

      </ion-item>
      
    </ion-list>-->

    <ion-card *ngFor="let movie of movies">
      <ion-card-content>
      <img alt="movie-img" src={{movie.Poster}}  height="50"/>
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>{{movie.Title}}</ion-card-title>
        <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>

    <!--<ul>
      <li *ngFor="let movie of movies">
          {{movie.Title}}
          <p> {{movie.Year}}</p>
          <img src={{movie.Poster}} height="75">
      </li>
    </ul>-->
  </div>
</ion-content>
